
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.container{
   background-color: #f6f4ee;

}
header{
    background-color: #e2e9f0;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0;
    padding-left: 5%;
    padding-right: 5%;
}
ul li {
    display: inline-block;
    padding: 10px;
}

a{
    color: #333;
    text-decoration: none;
}
i:hover{
cursor: pointer;
}
#menu{
    background-color: #b5ccdc;
    justify-content: center; 
}
img{
    width: 250px;
}
#user{
    width: 50%;
}
.info{
    margin: 10px 10px;
    border: solid thin #b5ccdc;
}
